body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 50px;
  }
  
  h3 {
    margin-top: 50px;
    color: #b59ae6;
    font-size: 30px;
  }
  
  #loginForm {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #loginForm label {
    display: block;
    margin-bottom: 10px;
  }
  
  #inputUsername,
  #inputpassword {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px;
  }
  
  button, #crear-menu-button , #editar-button{
    background-color: #c3b1e6;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #feb139;
    color: #143f6b;
  }
  table,
  th,
  td {
    border: 1px solid;
    padding: 10px;
  }
  table {
    border-collapse: collapse;
  }
  #loginForm {
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 4%, rgba(252, 70, 107, 1) 100%);
    background-position: center;
    background-size: cover;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 0;
    color: #fff;
    padding: 20px;
    font-size: 13px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }